@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.containerRes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
    min-height: 100vh;
}

.headerRes {
    width: 100%;
    height: 3rem;
    background-color: #F0F0F0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.mainRes {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 2.5rem;
    padding: 3rem 1rem 3rem 1rem;
    margin-top: 5rem;
}

.titleRes {
    margin-bottom: 2.5rem;
}

.repoRes {
    border: 1px solid black;
    width: 95%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 0.5rem;
}

.repoTextRes {
    font-size: 1.15rem;
}

.buttonRes {
    margin-left: 2rem;
    border-radius: 2.5rem;
    width: 7rem;
    height: 2.8rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all ease 0.5s;
}

.buttonRes:hover {
    transform: scale(1.05);
    background: #010101;
    color: #F0F0F0;
}

.paginationRes {
    margin-top: 1rem;
}

.buttonPaginationRes {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid black;
    background-color: #F0F0F0;
    color: #010101;
    cursor: pointer;
    margin-right: 0.5rem;
    font-size: 1rem;
    transition: all ease 0.5s;
}

.buttonPaginationRes:hover {
    transform: scale(1.05);
    background: #010101;
    color: #F0F0F0;
}